USE [master]
GO
/****** Object:  Database [CsharpSqlDb]    Script Date: 9.08.2025 15:32:34 ******/
CREATE DATABASE [CsharpSqlDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CsharpSqlDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CsharpSqlDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CsharpSqlDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CsharpSqlDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CsharpSqlDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CsharpSqlDb]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 9.08.2025 15:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerID] [int] IDENTITY(1,1) NOT NULL,
	[customerName] [nvarchar](50) NULL,
	[customerSurname] [nvarchar](50) NULL,
	[customerAge] [int] NULL,
	[customerGender] [bit] NULL,
	[customerBirthday] [datetime] NULL,
	[customerPhone] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customerID], [customerName], [customerSurname], [customerAge], [customerGender], [customerBirthday], [customerPhone]) VALUES (5, N'Zeynep', N'Çelik', 30, 0, CAST(N'1996-03-18T00:00:00.000' AS DateTime), N'05011239876')
INSERT [dbo].[Customer] ([customerID], [customerName], [customerSurname], [customerAge], [customerGender], [customerBirthday], [customerPhone]) VALUES (6, N'Murat', N'Polat', 39, 1, CAST(N'1985-06-09T00:00:00.000' AS DateTime), N'05397864532')
INSERT [dbo].[Customer] ([customerID], [customerName], [customerSurname], [customerAge], [customerGender], [customerBirthday], [customerPhone]) VALUES (7, N'Fatma', N'Öztürk', 58, 0, CAST(N'1966-11-19T00:00:00.000' AS DateTime), N'05367894521')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
USE [master]
GO
